.header {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.cardList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.searchFields{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--bg-paper);
    border-radius: var(--radius-mid);
    width: 100%;
}

.topPart {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.searchFields > h3 {
    text-align: left;
    padding: 0;
    margin: 0;
}

